{% extends "base.html" %}
{% block content %}
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Master</a></li>                    
    <li class="active">Manage Class</li>
</ul>
<!-- END BREADCRUMB -->  
<div class="content-frame-top">                        
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Employee Registration</h2>
    </div>                                      
    

    
</div>


    <form method="post" action="{% url 'admin_employee_adddbms' %}" enctype="multipart/form-data">

    {% csrf_token %}
<div class="form-horizontal">
    <div class="panel panel-default">
        
        
        <div class="panel-body">    
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">First Name</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" class="form-control" name="firstname"/>
                    </div>                                            
                    <span class="help-block">Enter your full name</span>
                </div>
            </div>     
            
            <div class="form-group">                                        
                <label class="col-md-3 col-xs-12 control-label">Last Name</label>
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                        <input type="text" class="form-control" name="lastname"/>
                    </div>            
                    <span class="help-block">Enter your last name</span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Address</label>
                <div class="col-md-6 col-xs-12">                                            
                    <textarea class="form-control" rows="5" name="address"></textarea>
                    <span class="help-block">Enter your address</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Date of Birth</label>
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" name="dateofbirth" value="2014-11-01">                                            
                    </div>
                    <span class="help-block">Select your date of birth</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Gender</label>
                <div class="col-md-6 col-xs-12">
                    <select class="form-control" id="sex"  name="gender">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">other</option>
                    </select>
                    <span class="help-block">Select your gender</span>
                </div>
            </div>
            
          

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Email</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                        <input type="text" class="form-control" name="email"/>
                    </div>                                            
                    <span class="help-block">Enter your email address</span>
                </div>
            </div>

           

           

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Phone</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                        <input type="text" class="form-control" name="phone"/>
                    </div>                                            
                    <span class="help-block">Enter your phone number</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Qualification</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" name="qualification">
                        {% for emp in empl_qal %}
                            <option value="{{ emp.id }}">{{ emp.qualification_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your qualification</span>
                </div>
            </div>

            <!-- Fields on the Left -->

           
            
           

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Designation</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" name="designation">
                        {% for employee in employee_des %}
                            <option value="{{employee.id }}">{{ employee.designation_name}}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your designation</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Employee Category</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" name="employeecategory" id="employee_category_id" onchange="drop()">
                        {% for emp in employee_cat %}
                            <option value="{{emp.id}}+{{ emp.employee_category_area}}">{{ emp.employee_category_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your employee category</span>
                </div>
            </div>
            

            <div class="form-group">                                        
                <label class="col-md-3 col-xs-12 control-label">Joining Date</label>
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" name="joiningdate" value="2014-11-01">                                            
                    </div>
                    <span class="help-block">Select your joining date</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Department</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" name="department">
                        {% for emp in employee_dep %}
                            <option value="{{ emp.id }}">{{ emp.department_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your department</span>
                </div>
            </div>
            

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Salary Amount</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-money"></span></span>
                        <input type="text" class="form-control" name="salaryamount"/>
                    </div>                                            
                    <span class="help-block">Enter your salary amount</span>
                </div>
            </div>
           
         <div class="row" id="drop" style="display:none;">
          <div class="panel panel-default">
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">class</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" name="class" id="class" onchange="updateSubjects()">
                        {% for emp in employee_class %}
                            <option value="{{ emp.id }}">{{ emp.class_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your class</span>
                </div>
                <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/get_subjects" id="url_sub">

            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Division</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control"id="division" name="division">
                        {% for emp in employee_division %}
                            <option value="{{ emp.id }}">{{ emp.division_name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Select your division</span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Subject</label>
                <div class="col-md-6 col-xs-12">                                            
                    <select class="form-control" id="subject"name="subject">
                        {% comment %} {% for emp in employee_subject %}
                            <option value="{{ emp.id }}">{{ emp.subject_name }}</option>
                        {% endfor %} {% endcomment %}
                    </select>
                    <span class="help-block">Select your subject</span>
                </div>
            </div>
            <table class="table datatable dataTable no-footer" id="dataTables" role="grid" aria-describedby="DataTables_Table_0_info">

                <thead>
                    <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 70px;">Class</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 70px;">Division</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 70px;">Subject</th>

                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 137px;">Action</th>
                </tr>
                </thead>
                <tbody id="dataBody">
                    <!-- Data will be added here dynamically -->
                </tbody>
                
            </table>
            <input type="button" class="btn btn-primary pull-right" onclick="addRow();" value="ADD">
            

            
          
            
        </div></div>

        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Photo</label>
            <div class="col-md-6 col-xs-12">                                            
                <input type="file" class="form-control" name="photo"/>
                <span class="help-block">Upload your photo</span>
            </div>
        </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-default">Clear Form</button>                                    
            <button class="btn btn-primary pull-right">Submit</button>
        </div>



    </div>
</form>




    {% comment %} <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/ajax_class_view" id="url_name">

    <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/ajax_class_update" id="url_update">

    <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/ajax_delete_class_row" id="url_delete"> {% endcomment %}

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to remove this row?</p>                    
                <p>Press Yes if you sure.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- END MESSAGE BOX-->    
   
{% endblock content %}


