{% extends "base.html" %}
{% block content %}
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Master</a></li>                    
    <li class="active">Manage Department</li>
</ul>
<!-- END BREADCRUMB -->  
<div class="content-frame-top">                        
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Manage Department</h2>
    </div>                                      
    

    
</div>




<form method="post" action="{% url 'admin_employee_list' %}">
    {% csrf_token %}
<div class="panel panel-default">
    <div class="panel-heading ui-draggable-handle">
        <h1 class="panel-title"><strong></strong><b>New Department</b></h1>
        <ul class="panel-controls">
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">

        <div class="block">                            
                                              
            <div class="col-md-6">
                <div>
                    <input type="text" placeholder="Department Name" name="department_name" required class="form-control">
                </div>
                      
            </div>                                
            <div class="col-md-6">
                <div>
                    <input type="text" placeholder="Department Code" name="department_code" required class="form-control">
                </div>
                      
            </div>
                                                                                      
        </div>
    </div>
    
    <div class="panel-footer">
        <input type="reset" class="btn btn-default" value="Clear">                                    
        <button class="btn btn-primary pull-right">Submit</button>
    </div>
</div>
</form>

<div class="panel panel-default">
    <div class="panel-heading ui-draggable-handle">                                
        <h1 class="panel-title"><b>View Departments</b></h1>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>                                
    </div>
    <div class="panel-body">
        <table class="table datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SL_No: activate to sort column ascending" style="width: 40px;">SL_No</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 90px;">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 150px;">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Mobile: activate to sort column ascending" style="width: 70px;">Mobile</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 90px;">Department</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="QrCode: activate to sort column ascending" style="width: 70px;">QR_Code</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Photo: activate to sort column ascending" style="width: 90px;">Photo</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 70px;">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 100px;">Action</th>
                    </tr>
            </thead>
            <tbody>
                <tbody>
                    {% for adminemp in adminemp_list %}
                    <tr id="{{adminemp.id}}" >
                        <td>{{ forloop.counter }}</td>
                        <td>{{ adminemp.name }}</td>
                        <td>{{ adminemp.email }}</td>
                        <td>{{ adminemp.mobile }}</td>
                        <td>{{ adminemp.department_id.department_name }}</td>
                        <td>{{ adminemp.barcode }}</td>
                        <td><img src="{{ adminemp.photo.url }}" alt="Employee Photo" style="max-width: 80px; max-height: 80px;"></td>
                       



                        <td>
                            {% if ams_department.status %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-danger">Deactive</span>
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-rounded" onClick="edit_row({{ ams_department.id }});" data-toggle="modal" data-target="#modal_basic">
                                <span id="spinner{{ams_department.id}}" class="fa fa-pencil"></span>
                            </button>
                            {% if not ams_department.status%}
                            <button class="btn btn-primary btn-rounded" onClick="delete_row1({{ ams_department.id }});">
                                <span class="fa fa-trash-o"></span>
                            </button>    {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </tbody>
        </table>
    </div>

    <div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>×<span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="defModalHead">Edit Department</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-6">

                        <input type="text" placeholder="Department Name" class="form-control" id="department_name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Department Code" class="form-control" id="department_code">
                    </div><br></br>
                    <div class="col-md-12">                                                                                
                        <select class="form-control " data-live-search="true" id="status">
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                            
                        </select>
                    </div>

                </div>
            </div>
            



                    <div class="panel-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>                                    
                        <button class="btn btn-primary pull-right" onclick="update_row()" >Update</button>
                        <input type="hidden" class="form-control" id="department_id">

                    </div>
                    
                
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{{request.scheme}}://{{request.get_host}}/ajax_department_view" id="url_name">
<input type="hidden" value="{{request.scheme}}://{{request.get_host}}/ajax_department_update" id="url_update">
<input type="hidden" value="{{request.scheme}}://{{request.get_host}}/ajax_delete_row1" id="url_delete">


<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to remove this row?</p>                    
                <p>Press Yes if you sure.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->    
   
{% endblock content %}

<div class="form-group">
    <button type="button" class="btn btn-info mb-control" data-box="#message-box-sound-1">Alert</button>
    <button type="button" class="btn btn-danger mb-control" data-box="#message-box-sound-2">Fail</button>
</div>